.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.container div {
  width: 70%;
}
TableContainer {
  width: 70%;
}

.td {
  border: 1px solid grey;
  padding: 0.6rem;
}

.player_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
